/* Obligé de réécrire le style des éléments HTML par défaut
*/
h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
  line-height: 1.2;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.3;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 0.83em 0;
  line-height: 1.4;
}

h4 {
  font-size: 1em;
  font-weight: normal;
  margin: 1em 0;
  line-height: 1.4;
}

h5 {
  font-size: 0.83em;
  font-weight: normal;
  margin: 1em 0;
  line-height: 1.5;
}

h6 {
  font-size: 0.67em;
  font-weight: normal;
  margin: 1em 0;
  line-height: 1.5;
}

a {
  color: dodgerblue;
}

textarea {
  font-style: italic;
  width: 100%;
  margin: 20px;
  border-color: grey;
  border-style: dashed;
  border-width: 0.1em;
  padding: 0px 20px;
}
